I have the barebones of a course website set up (um-eecs467.github.io) but I need to fill in the content. This includes the existing project documentation from rob550-docs.github.io (because the projects with the MBot are identical), as well as the relevant course information (stored in course_info, course_schedule, relevant_links).

All below information should live in a version of the website called w26, since that is the semester this content is relevant for. This should reflect in the URL as well, for example, the "Assignments" tab should be found at https://um-eecs467.github.io/w26/assignments/. It should be easy to create a new page for each subsequent semester by copying the w26 folder and changing the content as necessary. A drop down menu on the top right should allow users to select the semester they want to view, but the only one and therefore the default should be w26 for now. More semesters will be added in the future.

Please populate the "Home" page with the general course information found in course_info.md. Do not fully replace the content, however. There are two sections I would like to retain: (1) the "Previous Offerings and Project Showcase" section and corresponding links should remain, and (2) the headshots for the instructors and TAs should remain. You may update the actual staff with the new information in course_info.md, but the formatting of the section should remain the same for now. The headshot for "Xiaoxiao Du" can remain, but insert blank headshots for the new staff members for now.

Please populate the "Schedule" tab of the website with the infromation from course_schedule.md. Exam days should be highlighted in light red and project due dates in light yellow.

For now, the "Lectures" tab can be populated exclusively with the link to the YouTube playlist of lectures. The link can be found in relevant_links.txt. You may also put the PrairieLearn link there, since the PrairieLearn Homeworks host the asynchronous lecture quizzes.

The imported documentation for rob550-docs.github.io should be placed under the "Assignments" tab. To reiterate, only the sections of the docs under "Botlab" should be imported. That is, please omit the "Welcome", "Armlab", and "Legacy Guides" sections. The documentation should be formatted in the usual documentation style, with a sidebar on the left for navigation and the content on the right. To reiterate, "Botlab" and everything under that directory should live here.

Please populate the "Project" tab with the project information listed in design_project_info.md.

The information currently in the "Materials" section of the website can remain, but please add all relevant links from relevant_links.txt to that section as well. You can organize the links in whatever way you see fit, but ensure that all are included.

Finally, please ensure that the website is visually appealing and easy to navigate. You can use any design elements you see fit, but please keep the overall aesthetic consistent with the existing design of the website.

Please load a local server to view the draft website once you have implemented all of the changes.